/temple.common/nbproject/private/
/temple.model/nbproject/private/
/temple.ejb/nbproject/private/
/temple.test/nbproject/private/
/temple.cdi.client/nbproject/private/
/temple.ejb.client/nbproject/private/
/temple.client/nbproject/private/
/temple.web.client/nbproject/private/
/credentials/temple.credentials.ejb/nbproject/private/
/credentials/temple.credentials.model/nbproject/private/
/credentials/temple.credentials.ejb.client/nbproject/private/
/temple.cdi/nbproject/private/
/nbproject/private/
/temple.common/nbbuild/
/temple.model/nbbuild/
/temple.common/dist/
/temple.model/dist/
/temple.cdi/nbbuild/
/temple.cdi.client/nbbuild/
/temple.cdi.client/dist/
/temple.cdi/dist/
/temple.ejb.client/build/
/temple.ejb.client/dist/
/credentials/temple.credentials.ejb.client/build/
/credentials/temple.credentials.ejb.client/dist/
/credentials/temple.credentials.model/dist/
/credentials/temple.credentials.model/nbbuild/
/temple.web.client/nbbuild/
/temple.web.client/dist/
/credentials/nbproject/private/
/credentials/build/
/credentials/temple.credentials.ejb/dist/
/temple.ejb/build/
/temple.ejb/dist/
/temple.web/nbproject/private/