/temple.common/nbproject/private/
/temple.model/nbproject/private/
/temple.ejb/nbproject/private/
/temple.test/nbproject/private/
/temple.cdi.client/nbproject/private/
/temple.ejb.client/nbproject/private/
/temple.client/nbproject/private/
/temple.web.client/nbproject/private/
/credentials/temple.credentials.ejb/nbproject/private/
/credentials/temple.credentials.model/nbproject/private/
/credentials/temple.credentials.ejb.client/nbproject/private/
/temple.cdi/nbproject/private/
/nbproject/private/