/* 
    Created on : 17/04/2014, 4:26:10 AM
    Author     : florent
*/

#_templeAlerts {
	position: fixed ;
	left:50% ;
	z-index: 2000;
	top: 120px;
}

#_templeAlerts div.alert {
	position: relative ;
	left: -50% ;
	min-width: 400px ;
	z-index: 400 ;
	border-width: 3px;
}

#_templeAlerts div.alert .glyphicon {
	font-size: 20px ;
}

div.alert {
}

main {
	position: relative ;
}

._backToTop {
	display: none ;
	position: absolute ;
	right: 10px ;
	bottom: 10px ;
	z-index: 900 ;
	font-size: 20px ;
}

a.btn,
button.btn, 
ul.dropdown-menu li a,
ul._checkboxes li label {
	text-transform: capitalize ;
}

ul._checkboxes li label {
	cursor: pointer;
	width: 100% ;
}

ul._checkboxes li label:active,
ul._checkboxes li label:hover {
	background-color: lightgray ;
}
