<div class="card mb-3">
	<div class="card-header p-2 text-white bg-secondary">
		<div class="float-right">
			<div class="input-group input-group-sm">
				<input type="date" placeholder="yyyy-mm-dd" class="form-control" min="2019-02-11" ng-model="diaryCtrl.newDay">
				<div class="input-group-append">
					<button type="button" class="btn btn-sm btn-dark" ng-click="diaryCtrl.addDay()">
						<i class="fa fa-plus"></i>
					</button>
				</div>
			</div>
		</div>
		<form class="form-inline" ng-if="diaryCtrl.day">
			<div class="form-group mr-2">
			<!-- Ajouter next previous day en bouton -->
	           	<label>Journée</label>
				<div class="input-group input-group-sm">
					<button type="button" class="btn btn-dark btn-sm" ng-click="diaryCtrl.previousDay()">
						<span class="fa fa-arrow-left"></span>
					</button>
		            <select class="form-control form-control-sm" ng-model="diaryCtrl.day" 
		            	ng-options="item as item.dayDate for item in diaryCtrl.days track by item.id" ng-change="diaryCtrl.setViewingDay()">
		            </select>
					<button type="button" class="btn btn-dark btn-sm" ng-click="diaryCtrl.nextDay()">
						<span class="fa fa-arrow-right"></span>
					</button>
		        </div>
			</div>
			<div class="form-group mr-2">
				<label>Sommeil</label>
				<div class="input-group input-group-sm mr-2">
					<div class="input-group-prepend">
						<div class="input-group-text"><em>{{diaryCtrl.day.sleepDuration |duration}}</em></div>
					</div>
					<input type="number" class="form-control" min="0" max="720" step="15" ng-model="diaryCtrl.day.sleepDuration" ng-change="diaryCtrl.setDayData()">
					<div class="input-group-append">
						<div class="input-group-text">min</div>
					</div>
				</div>
            </div>
            <div class="form-group mr-2">
				<label>Jeûne</label>
				<div class="input-group input-group-sm mr-2">
					<div class="input-group-prepend">
						<div class="input-group-text"><em>{{diaryCtrl.day.fasting |duration}}</em></div>
					</div>
					<input type="number" class="form-control" min="720" max="1440" step="15" ng-model="diaryCtrl.day.fasting" ng-change="diaryCtrl.setDayData()">
					<div class="input-group-append">
						<div class="input-group-text">min</div>
					</div>
				</div>
            </div>
        </form>
    </div>
	<div class="card-body p-2" ng-if="diaryCtrl.day" ng-class="diaryCtrl.resultClasses[diaryCtrl.day.result]">
		<div class="row no-gutters">
			<div class="col-lg-6">
				<form class="form-inline">
					<div class="form-group mr-2 mb-2">				
						<label>Mode</label>
						<select class="form-control form-control-sm" ng-model="diaryCtrl.day.growthMode" ng-change="diaryCtrl.setDayData()">
							<option value="INCREASE">Prise de masse</option>
							<option value="MAINTAIN">Maintenance</option>
							<option value="DECREASE">Sèche</option>
						</select>
					</div>
					<div class="form-group mr-2 mb-2">				
						<label>Poids</label>
						<div class="input-group input-group-sm">
							<input type="number" min="50" max="90" step="0.1" class="form-control" ng-model="diaryCtrl.day.weight" ng-change="diaryCtrl.setDayData()">
							<div class="input-group-append">
								<div class="input-group-text">kg</div>
							</div>
						</div>
					</div>
					<div class="form-group mr-2 mb-2">				
						<label>Métabolisme de base</label>
						<div class="input-group input-group-sm">
							<input type="number" min="1000" max="2200" class="form-control" ng-model="diaryCtrl.day.metabolicRate" ng-change="diaryCtrl.setDayData()">
							<div class="input-group-append">
								<div class="input-group-text">kcal</div>
							</div>
						</div>
					</div>
					<div class="form-group mr-2 mb-2">				
						<label>Taux d'activité</label>
						<div class="input-group input-group-sm">
							<input type="number" min="100" max="150" step="5" class="form-control" ng-model="diaryCtrl.day.activityFactor" ng-change="diaryCtrl.setDayData()">
							<div class="input-group-append">
								<div class="input-group-text">%</div>
							</div>
						</div>
					</div>
					<div class="form-group mr-2 mb-2">				
						<label>Prise de lipides</label>
						<div class="input-group input-group-sm mr-2">
							<input type="number" min="60" max="175" step="5" class="form-control" ng-model="diaryCtrl.day.fatFactor" ng-change="diaryCtrl.setDayData()">
							<div class="input-group-append">
								<div class="input-group-text">%</div>
							</div>
						</div>
						<label>Prise de protéines</label>
						<div class="input-group input-group-sm">
							<input type="number" min="100" max="255" step="5" class="form-control" ng-model="diaryCtrl.day.proteinFactor" ng-change="diaryCtrl.setDayData()">
							<div class="input-group-append">
								<div class="input-group-text">%</div>
							</div>
						</div>
					</div>
				</form>
			</div>
			<div class="col-lg-6">
				<dl class="row mb-0">
					<dt class="col-sm-2">Cible</dt>
					<dd class="col-sm-10 mb-0"><intake intake="diaryCtrl.day.targetIntake"></intake></dd>
					<dt class="col-sm-2">Effectif</dt>
					<dd class="col-sm-10 mb-0"><intake intake="diaryCtrl.day.intake"></intake></dd>
					<dt class="col-sm-2">Écart</dt>
					<dd class="col-sm-10 mb-0"><intake intake="diaryCtrl.day.intakeDiff"></intake></dd>
				</dl>
			</div>
		</div>
	</div>
	<div class="card-footer p-2 text-white bg-secondary" ng-if="diaryCtrl.day">
		<div class="float-right">
			<form class="form-inline">
	            <div class="form-group">
					<label>Résultat</label>
					<div class="btn-group btn-group-toggle btn-group-sm">
						<label class="btn btn-danger" ng-class="{'active': diaryCtrl.day.result === 'FAILURE'}">
							<input type="radio" autocomplete="off" value="FAILURE" ng-model="diaryCtrl.day.result" ng-change="diaryCtrl.setDayData()"><span class="fa fa-frown"></span>&nbsp;Échec
						</label> 
						<label class="btn btn-warning" ng-class="{'active': diaryCtrl.day.result === 'CHEAT_DAY'}">
							<input type="radio" autocomplete="off" value="CHEAT_DAY" ng-model="diaryCtrl.day.result" ng-change="diaryCtrl.setDayData()"><span class="fa fa-grin-tongue-wink"></span>&nbsp;Cheat day
						</label>
						<label class="btn btn-info" ng-class="{'active': diaryCtrl.day.result === 'PASSABLE'}">
							<input type="radio" autocomplete="off" value="PASSABLE" ng-model="diaryCtrl.day.result" ng-change="diaryCtrl.setDayData()"><span class="fa fa-smile"></span>&nbsp;Passable
						</label>
						<label class="btn btn-success" ng-class="{'active': diaryCtrl.day.result === 'SUCCESS'}">
							<input type="radio" autocomplete="off" value="SUCCESS" ng-model="diaryCtrl.day.result" ng-change="diaryCtrl.setDayData()"><span class="fa fa-grin-stars"></span>&nbsp;Succès
						</label>
					</div>
				</div>
	        </form>
		</div>
	</div>
</div>

<div class="row" ng-class="{'fasting': diaryCtrl.day.fasting}" ng-if="diaryCtrl.day">
	<div class="col-sm-6 col-md-4" ng-class="meal.time" ng-repeat="meal in diaryCtrl.day.meals">
		<div class="card mb-3 meal" ng-class="{'bg-warning': meal.editing}">
			<div class="card-header p-2" ng-class="{'font-italic': meal.editing}">
				<button type="button" class="btn btn-sm btn-dark pl-0" ng-click="meal.showContent = !meal.showContent">
					<i class="fas fa-fw" ng-class="{'fa-caret-right': !meal.showContent, 'fa-caret-down': meal.showContent}"></i>
					{{meal.time}} <intake ng-if="meal.content.length" intake="meal.intake"></intake>
				</button>
				<button type="button" class="btn btn-sm btn-outline-dark float-right" ng-click="diaryCtrl.toggleMealEditing(meal)">
					<i class="fas fa-shopping-basket"></i> <span class="badge badge-dark">{{meal.content.length ? meal.content.length : ''}}</span>
					<i class="fas" ng-class="{'fa-plus': !meal.editing, 'fa-check': meal.editing}"></i>
					{{meal.editing ? 'OK !' : ''}}
				</button>
			</div>
			<div class="card-header bg-light p-2" ng-if="meal.editing">
				<form class="form-inline">
					<label class="mr-1 d-none d-sm-inline">Filtre</label>
					<input type="search" class="form-control form-control-sm mb-1 mr-sm-1" ng-model="diaryCtrl.foodFilters[meal.time].name" placeholder="Nom">
					<input type="search" class="form-control form-control-sm mb-1" ng-model="diaryCtrl.foodFilters[meal.time].brand" placeholder="Marque / Variété">
				</form>
			</div>
			<div class="card-body p-0">
				<div class="list-group list-group-flush" ng-if="meal.editing">
					<div class="list-group-item p-2" ng-class="{'list-group-item-info': meal.items[food.id] || meal.items[food.id] === 0}" ng-repeat="food in diaryCtrl.foodList | filter:diaryCtrl.foodFilters[meal.time]">
						<div class="row no-gutters">
							<div class="col-10 pr-1" ng-click="diaryCtrl.addFood(meal, food)">
								<food value="food"></food>
							</div>
							<div class="col-2 pr-1">
								<button type="button" class="btn btn-sm btn-warning" ng-click="diaryCtrl.addFood(meal, food)">
									<i class="fas fa-plus"></i> Ajouter
								</button>
							</div>
						</div>
					</div>
				</div>
				<div class="list-group list-group-flush" ng-if="!meal.editing" ng-show="meal.showContent">
					<div class="list-group-item p-2" 
						ng-class="{'list-group-item-warning': (diaryCtrl.foods[foodId].intake.fiber === -1 || !diaryCtrl.foods[foodId].type), 'liked': mainCtrl.user.foodScores[foodId]}" 
						ng-repeat="(foodId, quantity) in meal.items">
						<div class="d-flex">
							<h6 class="flex-grow-1 mb-0">
								<button type="button" class="btn btn-sm btn-outline-danger" ng-click="diaryCtrl.removeFood(meal, foodId)"><i class="fas fa-trash"></i></button>
								<i class="fas fa-thumbs-up"></i>
								<i class="fas" ng-class="mainCtrl.foodTypes[diaryCtrl.foods[foodId].type].icon"></i>
								{{diaryCtrl.foods[foodId].name}} <small><em>{{diaryCtrl.foods[foodId].brand}}</em></small>
							</h6>
							<div class="input-group input-group-sm align-self-start">
								<div class="input-group-prepend">
									<button type="button" class="btn btn-outline-secondary" ng-click="diaryCtrl.increase(meal, foodId, -10)"><i class="fas fa-angle-double-left"></i></button>
								</div>
								<div class="input-group-prepend">
									<button type="button" class="btn btn-outline-secondary" ng-click="diaryCtrl.increase(meal, foodId, -1)"><i class="fas fa-angle-left"></i></button>
								</div>
								<input type="number" min="0" max="{{diaryCtrl.foods[foodId].input.max}}" step="{{diaryCtrl.foods[foodId].input.step}}" class="form-control text-right pr-0" ng-model="meal.items[foodId]" ng-change="diaryCtrl.foodUpdated(meal, foodId)" ng-model-options="{ debounce: 750 }">
								<div class="input-group-append"><span class="input-group-text pl-1">{{diaryCtrl.units[diaryCtrl.foods[foodId].counting]}}</span></div>
								<div class="input-group-append">
									<button type="button" class="btn btn-outline-secondary" ng-click="diaryCtrl.increase(meal, foodId, +1)"><i class="fas fa-angle-right"></i></button>
								</div>
								<div class="input-group-append">
									<button type="button" class="btn btn-outline-secondary" ng-click="diaryCtrl.increase(meal, foodId, +10)"><i class="fas fa-angle-double-right"></i></button>
								</div>
							</div>
						</div>
						<intake intake="meal.itemIntakes[foodId]"></intake>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-sm-6 col-md-4">
		<textarea class="form-control" rows="5" placeholder="Commentaires" ng-model="diaryCtrl.day.comments" ng-model-options="{ debounce: 1000 }" ng-change="diaryCtrl.setDayData()"></textarea>
	</div>
</div>
	