body {
	padding-top: 65px;
}

#food-page .nav-link span {
	display: none;
}
#food-page .nav-link.active span,
#food-page .nav-link span.fas {
	display: inline;
}

td .form-control[ng-change]:NOT(:FOCUS),
td .form-control[ng-change]:NOT(:FOCUS) ~ .input-group-addon {
	background: transparent;
	border-color: transparent;
	box-shadow: none;
}

td[ng-click] {
	cursor: pointer;
	vertical-align: middle;
}

th.w-4em {
	width: 4em;
	min-width: 4em;
}
th.w-5em {
	width: 5em;
	min-width: 4em;
}
th.w-6em {
	width: 6em;
	min-width: 4em;
}
th.w-8em {
	width: 8em;
	min-width: 6em;
}
th.w-10em {
	width: 10em;
	min-width: 8em;
}
th.w-20em {
	width: 20em;
	min-width: 18em;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
}
input[type=number] {
    -moz-appearance:textfield;
}

.table thead th {
	text-align: center;
	vertical-align: middle;
}
.table thead th small {
/* 	display: none; */
}

.list-group-item.active .form-control:NOT(:FOCUS) {
	color: white;
}

td.category {
	width: 15%;
}
td.name {
	width: 20%;
}
td.quantity {
	width: 10%;
}
td.amount {
	width: 10%;
}
td.action {
	width: 5%;
}

.fa-stack.growth-icon {
	width: 1.5em;
}
.growth-icon .fa-weight {
	font-size: 1.5em;
}
.growth-icon .fa-level-up-alt,
.growth-icon .fa-level-down-alt {
	text-align: right;
}

td.amount input {
	text-align: right;
}
td.quantity input {
}

.card.meal .card-body {
	max-height: 360px;
	overflow-y: auto;
}

.card.meal,
.card.meal em {
	font-size: .9em;
}

.activable {
	cursor: pointer;
}

input[type="number"] {
	/* max-width: 5em;*/
}
